---
import Layout from '../layouts/Layout.astro';
import { MyTabs } from '@/components/MyTabs';
---

<Layout title="Jadwalin">
	<div class="flex flex-col justify-between h-dvh px-4 sm:px-0">
		<main class="max-w-md md:max-w-xl mx-auto space-y-8 flex-1 mt-[10dvh] sm:mt-0 sm:grid sm:place-items-center">
			
			<div>
				<h1 class="text-5xl sm:text-4xl font-semibold sm:text-center font-scp mb-8 sm:mb-8 sm:mt-16">Buat Jadwal Kelas Kamu😉</h1>
				<p>Atur format untuk hasil, kemudian masukkan jadwal yang ingin kamu buat formatnya lalu klik <strong>Generate!</strong>			
				</p>
				
				<div class="mt-4">
					<MyTabs client:idle/>
				</div>

				<a href="./docs" class="block max-w-5 sm:max-w-full mt-8 sm:mt-0 underline opacity-60"><em>Baca dokumentasi disini!</em></a>
			</div>
		</main>
		<footer class="text-center border-t-2 border-black py-2 mt-16">
			<p class="font-scp">&copy; 2024 Jadwalin</p>
		</footer>
	</div>
</Layout>

